:root {
    --light: #fff;
    --blueDark: rgb(2, 126, 175);
    --blueLight: rgba(0,212,255,1);
    --gradient: linear-gradient(-190deg, rgb(2, 126, 175) 0%, rgba(0,212,255,1) 100%);
    --gradientLight: linear-gradient(-190deg, rgb(94, 173, 205) 0%, rgb(152, 233, 249) 100%);
    --gradientGrey: linear-gradient(190deg, rgba(209,209,209,1) 0%, rgb(247, 247, 247) 100%);
}

* {
    font-family: 'Poppins', sans-serif;
}

header {
    padding: .5rem;
    color: var(--light);
    background: var(--gradient);
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: 700;
}

#logo {
    width: 250px;
}

body {
    color: var(--greyDark);
    background-color: var(--light);
}

.form-input {
    /* width: 100%; */
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 50px;
    border: 2px solid transparent;
}

#search-content {
    background: var(--gradientGrey);
    background-image: url(/assets/img/form-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 2rem;
    flex-direction: column;
}

#search-form {
    width:100%;
    max-width: 700px;
    margin-inline: auto;
    position: relative;
}

.search-row {
    display:flex;
    flex-direction: row;
    gap:1rem;
}
.search-row input {
    flex-grow:1;
}


#search-btn {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

button {
    color: var(--light);
    background: var(--gradient);
    border: 0;
    padding: 15px 20px;
    border-radius: 50px;
    text-decoration: none;
    display: inline-block;
}

button:hover {
    background: var(--gradientLight);
}

#map {
  position: relative;
  margin: 20px;
  height: 400px;
}

#instructions {
  position: relative;
  margin: 20px;
  padding: 20px;
  overflow-y: scroll;
  font-family: sans-serif;
}


footer {
    padding: .5rem;
    color: var(--light);
    background: var(--gradientLight);
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#map {
   border: 3px solid var(--blueDark);
}

.location-choice {
    display: flex;
    flex-direction: column;
    gap: .75rem;
    justify-content: space-around;
    position: absolute;
    border: 2px solid var(--blueDark);
    top:1rem;
    right: 0;
    background: var(--light);
    padding:.75rem;
    max-width: 35rem;
    box-shadow: 10px 5px 15px rgb(121, 121, 121);
    border-radius: 10px;
    z-index: 1000;
  }

.card {
	margin: 10px;
    align-items: center;
}

.cardTodayDate {
	font-size: 20px;
}

#end, #start, .cardTodayCityName {
    text-transform: capitalize;
}

#map-container {
    display: flex;
    flex-wrap: wrap;
}

#map-container > div {
    /* border:1px solid black; */
    flex-grow:1;
}

@media screen and (max-width: 480px){
    #map-container {
        flex-direction: column;
    } 
}
